.dashboard {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 90%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 2%;
}